<!DOCTYPE html>
<html>
   <!--head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">



   </head-->
   <head>
   <meta charset="utf-8">
   <title>bootstrap测试</title>
   <link href="/static/bootstrap.min.css" rel="stylesheet" />
</head>
   <body>



      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid" style="line-height:35px;">

    <h3 class="navbar-text" style="float:left" >CodeHub</h3>

  <!--button type="button" class="btn btn-default">username</button-->


	<p class="navbar-text" style="font-family:arial;color:black;float:right">{{request.session.user_name}}  <a href="login" class="navbar-link">退出</a></p>
  </div>
</nav>
 <br>
 <br>
 <br>
 <div class="panel panel-default" style="background-color:GhostWhite">
  <div class="panel-body">
		<div class="panel panel-info">
  <div class="panel-heading" style="background-color:white">

	<br>
  <p style="font-family:arial;color:black;font-size:20px;"> <a href="profile.html">{{request.session.now_project_owner}}</a> / <a href="#">{{request.session.now_project_name}}</a></p>
<hr>项目描述
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{% url 'CodeHub:code' %}">代码</a></li>
      <li role="presentation"><a href="{% url 'CodeHub:commit' %}">提交记录</a></li>
      <li role="presentation"><a href="{% url 'CodeHub:branch' %}">分支</a></li>
      <li role="presentation"><a href="{% url 'CodeHub:member' %}">项目成员</a></li>
      {%if request.session.is_leader %}
          <li role="presentation" class="active"><a href="{% url 'CodeHub:settings' %}">设置</a></li>
      {% endif %}
    </ul>
<br>


      <div>
         <button class="btn btn-default dropdown-toggle" data-href="index.html" data-toggle="modal" data-target="#confirm-delete">删除此项目</button>

</div>
      <br>
      <br>
      <div class="panel-heading" style="background-color:white">

	<br>
	<p style="font-family:arial;color:black;font-size:20px;"> </p>
    <hr>更多功能请期待
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
请确认
</div>
<div class="modal-body">
确认删除该项目吗？
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
<a class="btn btn-danger btn-ok" href="{% url "CodeHub:delProject" %}">删除</a>
</div>
</div>
</div>
</div>



   <script src="/static/jquery.min.js"></script>
   <script src="/static/bootstrap.min.js"></script>

            <script>
               $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });

                });
            </script>
   </body>
</html>
