<!DOCTYPE html>
<html>
   <!--head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
	  
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 
      
   </head-->
   <head>
   <meta charset="utf-8">
   <title>bootstrap测试</title>
   <link href="/static/bootstrap.min.css" rel="stylesheet" />
</head>
   <body>
   

	  
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid" style="line-height:35px;">

    <h3 class="navbar-text" style="float:left" >CodeHub</h3>

  <!--button type="button" class="btn btn-default">username</button-->
  

	<p class="navbar-text" style="font-family:arial;color:black;float:right">username  <a href="#" class="navbar-link">退出</a></p>
  </div>
</nav>
 <br>
 <br>
 <br>
 <div class="panel panel-default" style="background-color:GhostWhite">
  <div class="panel-body">
		<div class="panel panel-info">
  <div class="panel-heading" style="background-color:white">

	<br>
	<p style="font-family:arial;color:black;font-size:20px;"> <a href="#">username</a> / <a href="#">projectname</a></p>
<hr>项目描述
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
  <li role="presentation"><a href="code.html">代码</a></li>
  <li role="presentation"><a href="commit.html">提交记录</a></li>
  <li role="presentation" class="active"><a href="branch.html">分支</a></li>
  <li role="presentation"><a href="member.html">项目成员</a></li>
</ul>
<br>

<form class="form-inline" action="proBranch" method="post" style="float:right">
    {% csrf_token %}
  <div class="form-group">
    <input type="text" name="branchName" class="form-control" placeholder="输入新分支名...">
  </div>
  <button type="submit" class="btn btn-default">新建分支</button>
</form>


<div class="btn-group" style="float:left">
  <button type="button" class="btn btn-default">master</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">master</a></li>
    <li><a href="#">dev1</a></li>
    <li><a href="#">dev2</a></li>
	<li><a href="#">dev3</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<p style="font-family:arial;color:black;font-size:20px;float:left">&nbsp;&nbsp;to&nbsp;&nbsp;</p>
<div class="btn-group" style="float:left">
  <button type="button" class="btn btn-default">master</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">master</a></li>
    <li><a href="#">dev1</a></li>
    <li><a href="#">dev2</a></li>
	<li><a href="#">dev3</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<p style="font-family:arial;color:black;font-size:20px;float:left">&nbsp;&nbsp;&nbsp;</p>
<button type="button" class="btn btn-default" style="float:left">合并分支</button>

<br>
<br>
<br>
<table class="table">
	<tr>
	<td>master</td>
	<td>11-13 13:13</td>
	<td ></td>
	<td ><button type="button" style="float:right" class="btn btn-default">下载</button></td>
	</tr>
	<tr>
	<td>dev</td>
	<td >10-14 10:41</td>
	<td ></td>
	<td ><button type="button" style="float:right" class="btn btn-default">下载</button></td>
	</tr>
</table>

  </div>
  
  

</div>
 
 </div>
</div>
 
 
 <script src="/static/jquery.min.js"></script>
   <script src="/static/bootstrap.min.js"></script>

   </body>
</html>