<!DOCTYPE html>
<html>
   <!--head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
	  
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 
      
   </head-->
   <head>
   <meta charset="utf-8">
   <title>bootstrap测试</title>
   <link href="../static/bootstrap.min.css" rel="stylesheet" />
   <!--link href="http://cdn.bootcss.com/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" /-->
</head>
   <body>
   

	  
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid" style="line-height:35px;">

    <h3 class="navbar-text" style="float:left" >CodeHub</h3>

  <!--button type="button" class="btn btn-default">username</button-->
  

	<p class="navbar-text" style="font-family:arial;color:black;float:right">username  <a href="#" class="navbar-link">退出</a></p>
  </div>
</nav>
 <br>
 <br>
 <br>
 <div class="panel panel-default" style="background-color:GhostWhite">
  <div class="panel-body">
		<div class="panel panel-info">
  <div class="panel-heading" style="background-color:white">

	<br>
	<p style="font-family:arial;color:black;font-size:20px;"> <a href="#">username</a> / <a href="#">projectname</a></p>
<hr>项目描述
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
  <li role="presentation"><a href="code.html">代码</a></li>
  <li role="presentation"><a href="commit.html">提交记录</a></li>
  <li role="presentation"><a href="branch.html">分支</a></li>
  <li role="presentation" class="active"><a href="member.html">项目成员</a></li>
</ul>
<br>


<form class="form-inline" style="float:right">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="输入新成员的用户名...">
  </div>
  <button type="submit" class="btn btn-default">添加成员</button>
</form>
<br>
<br>
<br>

<table class="table">
	<tr>
	<td>用户1</td>
	<!--td>11-13 13:13</td>
	<td ></td>
	<td ><button type="button" style="float:right" class="btn btn-default">下载</button></td-->
	</tr>
	<tr>
	<td>用户2</td>
	<!--td >10-14 10:41</td>
	<td ></td>
	<td ><button type="button" style="float:right" class="btn btn-default">下载</button></td-->
	</tr>
</table>

  </div>
  
  

</div>
 
 </div>
</div>
 
 
 <script src="../static/jquery.min.js"></script>
   <script src="../static/bootstrap.min.js"></script>

   </body>
</html>